:root {
	--color-white-bg: #f2f2f2;
    --blue: #3E517A;
}

p {
	margin: 0 !important;
	padding: 0 !important;
	font-family: "PT Sans Caption", sans-serif;
}

h1 {
	font-family: "Maitree", serif;
}

h2,
h3,
h4,
h5 {
	font-family: "Raleway", sans-serif;
    padding: 0 !important;
    margin: 0 !important;
}

@media only screen and (max-width: 576px) {
	/* .hero {
		height: 300px;
		width: 100%;
		padding: 0;
		margin: 0;
	} */
}

@media only screen and (min-width: 576px) {
	/* .hero {
		height: 300px;
		width: 100%;
		padding: 0;
		margin: 0;
	} */
}
